/******** MeandreTagCloud *********/

#MeandreTagCloud {
	font-size: .8em;
}

#MeandreTagCloud ul {
	list-style-type: none;
	text-indent: 0px;
	text-align: left;
	margin: 0px;
	padding: 0px;

	border-bottom: 5px solid #cecece;
	padding-bottom: 16px;
	margin-top: 8px;
}

#MeandreTagCloud li {
	margin: 0px;
	padding: 0px;
	background-image: none;
	display: inline;
	line-height: 150%;
}

#MeandreTagCloud li:before {
	content: "";
}

#MeandreTagCloud li a,
#MeandreTagCloud li a:link,
#MeandreTagCloud li a:visited {
	padding: 4px 8px 4px 0px;
}

#MeandreTagCloud li a:hover {
	text-decoration: underline;
}

#MeandreTagCloud a.AltTag {
	color: #282828;
}

/******** MeandreListSelectedTags *********/

#MeandreListSelectedTags {
	font-size: .8em;
}

#MeandreListSelectedTags ul {
	list-style-type: none;
	text-indent: 0px;
	text-align: left;
	margin: 0px;
	padding: 0px;

	margin-left: 8px;
	margin-top: 4px;
}

#MeandreListSelectedTags li {
	margin: 0px;
	padding: 0px;
	margin-right: 4px;

	display: inline;
	line-height: 150%;
}

#MeandreListSelectedTags li:before {
	content: "";
}

#MeandreListSelectedTags li a,
#MeandreListSelectedTags li a:link,
#MeandreListSelectedTags li a:visited {
	padding: 4px 10px 4px 10px;
	background: transparent url('icon_delete.gif') no-repeat left;
	color: #000;
}

#MeandreListSelectedTags li a span {
	display: none;
}

#MeandreListSelectedTags li a:link:hover,
#MeandreListSelectedTags li a:visited:hover {
	color: #aa251a;
}


/******** MeandreListFlows *********/

#MeandreListFlows {
	font-size: .8em;
	width: 100%;
	overflow: auto;
	border-bottom: 2px solid #cecece;
	border-top: 2px solid #cecece;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#MeandreListFlows .Label {
	font-size: 1.25em;
}

#MeandreListFlows ul {
	list-style-type: none;
	text-indent: 0px;
	text-align: left;
	margin: 0px;
	padding: 0px;

	margin-top: 18px;
}

#MeandreListFlows li {
	margin: 0px;
	padding: 0px;

	float: left;
	width: 120px;
	margin-right: 28px;
	margin-bottom: 16px;

	text-align: center;
}

#MeandreListFlows li:before {
	content: "";
}

#MeandreListFlows li img {
	border: 1px solid #ddd;
  	width: 100px; 
	height: 100px;
}

#MeandreListFlows li div.MeandreListFlowTitle {
}

#MeandreDescribeFlow {
	width: 100%;
	overflow: clip;
}

#MeandreDescribeFlow #Wrap {
	width: 100%;
	overflow: clip;
	margin-top: 10px;
	margin-bottom: 10px;
	
}

#MeandreDescribeFlow #Left {
	width: 300px;
	float: left;
}

#MeandreDescribeFlow #FlowImage {
	width: 300px;
	float: left;
	margin-left: 25px;
}

#MeandreDescribeFlow #FlowImage img {
	width: 300px;
	height: 300px;
}

#MeandreDescribeFlow #Name {
	font-size: 14pt;
	font-weight: bold;
}

#MeandreDescribeFlow #Creator {
	margin-right: 5px;
	display: inline;
}

#MeandreDescribeFlow #Date {
	color: #808080;
	display: inline;
}

#MeandreDescribeFlow #Execute {
	width: 100%;
	text-align: center;
	margin: 8px;
}

#MeandreDescribeFlow #Execute input[type="button"] {
	font-weight: bold;
	padding: 2px;
	cursor: pointer;
}

#MeandreDescribeFlow #Keywords {
	margin-top: 5px;
	margin-bottom: 5px;
}

#MeandreDescribeFlow #Description {
	overflow: auto;
	height: 150px;
}

#MeandreDescribeFlow #TagsByFlow ul {
	list-style-type: none;
	text-indent: 0px;
	text-align: left;
	margin: 0px;
	padding: 0px;
}

#MeandreDescribeFlow #TagsByFlow li {
	margin: 0px;
	padding: 0px;
	display: inline;
	line-height: 150%;
	padding-right: 5px;
}

#MeandreDescribeFlow #TagsByFlow li:before {
	content: "";
}

#MeandreDescribeFlow #TagsByFlow li:after {
	content: ", ";
}

#MeandreDescribeFlow #TagsByFlow  li.Last:after {
	content: "";
}

.Label {
	font-weight: bold;
}

#MeandreDescribeFlow #MoreInfo {
	clear: both;
}